{% extends 'base.html.twig' %}

{% block title %}Modifier une serie{% endblock %}

{% block body %}
    <h1>Modifier une série</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_index') }}" class="btn btn-dark m-3">Retour a la liste des series</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
