// assets/css/global.scss

// customize some Bootstrap variables
$body-bg: #b6815f;


$theme-colors: (
        "primary": #6c1002,
        "secondary": #b6815f,
        "tertiary": #343a40,
        "mainColorText": #ffff,
);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.card-img-top {
  max-height: 878px;
}

.card-body {
  max-height: 209px;
  min-height: 209px;
}

label {
 display: block;
}

#program_title,#program_summary,#program_poster,#program_synopsis,#program_country,#program_year {
  width: 100%;
}

#program_Category {
  height: 38px;
}

#program {
  text-align: center;
}


